In [3]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/runcodebagus/.local/lib/python3.10/site-packages (1.1.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/runcodebagus/.local/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /home/runcodebagus/.local/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /home/runcodebagus/.local/lib/python3.10/site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /home/runcodebagus/.local/lib/python3.10/site-packages (from scikit-learn) (1.9.3)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import numpy as np
# from google.colab import drive 
# drive.mount('/content/drive')

In [ ]:
df = pd.read_csv('/content/dataCoba.csv')
df.head()

            p1             p2 label  Unnamed: 3    Unnamed: 4       Unnamed: 5
0        batuk    nafsu makan  jahe         NaN       b2=jahe          0=batuk
1        batuk    sakit perut  jahe         NaN     b3=kunyit    1=nafsu makan
2        batuk   sakit kepala  jahe         NaN  b4=temulawak    2=sakit perut
3        batuk  perut kembung  jahe         NaN     b5=kencur   3=sakit kepala
4  nafsu makan          batuk  jahe         NaN      b6=sirih  4=perut kembung

In [ ]:
#Menghapus kolom yang tidak di butuhkan
df.drop(labels=['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'], axis=1, inplace =True)

In [ ]:
df.head()

            p1             p2 label
0        batuk    nafsu makan  jahe
1        batuk    sakit perut  jahe
2        batuk   sakit kepala  jahe
3        batuk  perut kembung  jahe
4  nafsu makan          batuk  jahe

In [ ]:
print(df['p1'].unique())
print(df['p2'].unique())
print(df['label'].unique())

['batuk' 'nafsu makan' 'sakit perut' 'sakit kepala' 'perut kembung'
 'radang amandel' 'asma' 'sembelit' 'masuk angin' 'sariawan'
 'radang lambung/maag/nyeri lambung' 'demam/panas' 'muntah' 'bau mulut'
 'sakit mata' 'kulit gatal' 'jerawat' 'pendarahan gusi' 'mimisan']
['nafsu makan' 'sakit perut' 'sakit kepala' 'perut kembung' 'batuk' 'asma'
 'sembelit' 'radang amandel' 'masuk angin' 'sariawan' 'demam/panas'
 'muntah' 'bau mulut' 'sakit mata' 'radang lambung/maag/nyeri lambung'
 'jerawat' 'pendarahan gusi' 'mimisan' 'kulit gatal']
['jahe' 'temulawak' 'kunyit' 'kencur' 'sirih']

In [ ]:
df['p1'] = df['p1'].map({'batuk':0,'nafsu makan':1,'sakit perut':2,
                         'sakit kepala':3,'perut kembung':4,'radang amandel':5,
                         'asma':6,'sembelit':7,'masuk angin':8,
                         'sariawan':9,'radang lambung/maag/nyeri lambung':10,'demam/panas':11,
                         'muntah':12,'bau mulut':13,'sakit mata':14,
                         'kulit gatal':15,'jerawat':16,'pendarahan gusi':17,
                         'mimisan':18})

df['p2'] = df['p2'].map({'batuk':0,'nafsu makan':1,'sakit perut':2,
                         'sakit kepala':3,'perut kembung':4,'radang amandel':5,
                         'asma':6,'sembelit':7,'masuk angin':8,
                         'sariawan':9,'radang lambung/maag/nyeri lambung':10,'demam/panas':11,
                         'muntah':12,'bau mulut':13,'sakit mata':14,
                         'kulit gatal':15,'jerawat':16,'pendarahan gusi':17,
                         'mimisan':18})

df['label'] = df['label'].map({'jahe':0,
                              'kunyit':1,
                              'temulawak':2,
                              'kencur':3,
                              'sirih':4})

In [ ]:
print(df['p1'].unique())
print(df['p2'].unique())
print(df['label'].unique())

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
[ 1  2  3  4  0  6  7  5  8  9 11 12 13 14 10 16 17 18 15]
[0 2 1 3 4]

In [ ]:
df.head()

   p1  p2  label
0   0   1      0
1   0   2      0
2   0   3      0
3   0   4      0
4   1   0      0

In [ ]:
x = df.iloc[:, 0:2].values #mengambil kolom variabel x (price_open, price_high, price_low) ada 2 kolom
y = df.iloc[:, -1].values #mengambil kolom variabel y (price_close)ada 1 kolom
print(x)
print(y)

[[ 0  1]
 [ 0  2]
 [ 0  3]
 [ 0  4]
 [ 1  0]
 [ 2  0]
 [ 3  0]
 [ 4  0]
 [ 1  2]
 [ 1  3]
 [ 1  4]
 [ 2  1]
 [ 3  1]
 [ 4  1]
 [ 2  3]
 [ 2  4]
 [ 3  2]
 [ 4  2]
 [ 3  4]
 [ 4  3]
 [ 5  6]
 [ 5  7]
 [ 6  5]
 [ 7  5]
 [ 6  7]
 [ 6  8]
 [ 6  9]
 [ 7  6]
 [ 8  6]
 [ 9  6]
 [ 7  8]
 [ 7  9]
 [ 8  7]
 [ 9  7]
 [ 8  9]
 [ 9  8]
 [10 11]
 [10 12]
 [10 13]
 [10 14]
 [11 10]
 [12 10]
 [13 10]
 [14 10]
 [11 12]
 [12 11]
 [13 14]
 [14 13]
 [15 16]
 [15 17]
 [15 18]
 [16 15]
 [17 15]
 [18 15]
 [16 17]
 [16 18]
 [17 16]
 [18 16]
 [17 18]
 [18 17]]
[0 0 0 0 0 0 0 0 2 0 0 2 0 0 2 0 2 0 0 0 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 3
 3 4 4 3 3 4 4 3 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0) #membagi dataset menjadi data training dan testing

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression() #membuat model
regressor.fit(x_train,y_train) #melakukan training regresi linear berganda

LinearRegression()

In [ ]:
y_pred = regressor.predict(x_test) # melakukan prediksi
print(y_pred)

[1.98831045 2.17879042 4.62203104 1.75133585 0.27849217 0.35948338
 2.21928603 4.66252665 2.72173278 1.36437689 0.00702099 0.63095456]

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error
mape = mean_absolute_percentage_error(y_test, y_pred)
print('MAPE : %f' % mape)

MAPE : 374346301020961.937500

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7845048915389113

In [ ]:
b = regressor.coef_ #menampilkan konstanta (nilai b)
a = regressor.intercept_ #menampilkan nilai intercept (nilai a)
print(a)
print(b)

-0.10846680118523233
[0.11548779 0.15598339]

In [ ]:
regressor.predict([[ 0, 1]])

array([0.04751659])

In [ ]:
import pickle
pickle.dump(regressor,open('model1.pkl', 'wb'))